[submodule "salt-tree/formulas/users-formula"]
	path = salt-tree/formulas/users-formula
	url = https://github.com/saltstack-formulas/users-formula.git
[submodule "salt-tree/formulas/mysql-formula"]
	path = salt-tree/formulas/mysql-formula
	url = https://github.com/saltstack-formulas/mysql-formula.git
[submodule "salt-tree/formulas/dovecot-formula"]
	path = salt-tree/formulas/dovecot-formula
	url = https://github.com/saltstack-formulas/dovecot-formula.git
[submodule "salt-tree/formulas/postfix-formula"]
	path = salt-tree/formulas/postfix-formula
	url = https://github.com/saltstack-formulas/postfix-formula.git
[submodule "salt-tree/formulas/fail2ban-formula"]
	path = salt-tree/formulas/fail2ban-formula
	url = https://github.com/saltstack-formulas/fail2ban-formula.git
[submodule "salt-tree/formulas/mariadb-formula"]
	path = salt-tree/formulas/mariadb-formula
	url = https://github.com/markkimsal/saltstack-mariadb-formula
